@import './assets/styles/reset.scss';

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;

  .dynamic-content {
    flex: 1;
  }

  .content-container {
    height: calc(100vh - 39px);
    padding: 20px 10px;
  }
}